.exchange-container {
    margin-bottom: 100px;
    padding: 0 50px;
    position: relative;
}

.exchange-img,
.exchange-img-mob {
    margin-top: 100px;
    max-width: 100%;
    /* height: 400px; */
    /* padding: 0 50px; */
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;
}

.exchange-img-mob {
    display: none;
}

.dpurple-gradient {
    position: absolute;
    top: 10px;
    left: -150px;
    z-index: 0 !important;
}

@media screen and (max-width: 800px) {
    .exchange-img-mob {
        display: block;
    }
    .exchange-img {
        display: none;
    }
}
