.footer {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.footer img {
    max-width: 100%;
}

.footer-nav ul {
    padding: 0;
}

.footer-nav h3 {
    margin-bottom: 35px;
}

.footer-nav ul li {
    margin: 24px 0;
}

.footer-nav ul li a,
.footer-info a {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.95rem;
}

.footer-info {
    width: 85%;
    margin: 70px auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgba(255, 255, 255, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    height: 130px;
}

.footer-info a {
    margin-right: 120px;
}

.footer-info a,
.footer-info p {
    font-size: 0.9rem;
}

.footer-info div {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1170px) {
    .footer-info {
        /* flex-direction: column;
         */
        justify-content: space-between;
        align-items: center;
    }
    .footer-info div {
        position: static;
        margin-top: 35px;
        /* text-align: center; */
    }
    .footer-info p {
        margin: 0px;
    }
}

@media screen and (max-width: 870px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 50px;
    }
}

@media screen and (max-width: 570px) {
    .footer-info {
        flex-direction: column;
        margin-bottom: 30px;
    }
}
